li {
    padding: 15px;
    margin: 15px;
    background: #ffbf00;
    list-style: none;
    border: 1px black solid;
 }
 
 ul {
    list-style: none;
 }
 
 .center {
    text-align: center;
 }
 
 .right {
    align-content: right;
 }
 
 img {
    align-content: center;
 }
 
 h1 {
    text-align: center;
    text-shadow: 1px 1px lightgoldenrodyellow;
    color: white;
 }
 
 h2 {
    text-align: center;
    text-shadow: 1px 1px lightgoldenrodyellow;
    color: white;
 }
 
 #create-update-form {
    padding: 25px;
    margin: 25px;
    background: #ffbf00;
    border: 1px black solid;
 }
 
 .form-group {
     margin-bottom: 10px;
     margin-top: -10px;
     margin-right: -10px;
     margin-left: -10px;
     color:black;
 }
 
 .btn-primary {
    border-radius: 15px;
 }
 
 body {
    color: black;
    background-image: url("1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: red;
    font-size: 26px;
 }
 
 ::placeholder {
    font-size: 12px;
     color: black;
 }

 table {
    padding: 15px;
    margin: 15px;
    background: #ffbf00;
    list-style: none;
    border: 1px black solid;

 }

footer {
    color: chartreuse;
}
